<!DOCTYPE html>
<style>
  .page-header h1 {
      color: #f15a29 !important;
  }


</style>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>The Ides of DEF CON</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Telestrap theme CSS -->
        <link href="/css/bootstrap-theme.css" rel="stylesheet">

        <style>
        body {
          font-size:22px;
        }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">THE IDES OF DEF CON</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="/faq/">Battle/Game FAQ</a></li>
                        <!-- We never used the leaderboard. Sigh. -->
                        <!-- <li><a href="/leaderboard/">Leaderboard</a></li> -->
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
          <div class="starter-template">
            <div class="jumbotron" style="background: red;">
              <h1>The Ides of DEF CON</h1>
              <p>A wearable hardware badge, featuring blinky lights,
                sound, a sub-1Ghz radio, games, and more. Based on the
                NXP/Freescale KW01. </p>
            </div>
            <p align="center">
              <img src="img/characters.jpg">
            </p>
            <!-- def con, yo -->
            <!--
            <div id="clockdiv">
              <p align="center">
                <span class="days"></span> days,
                <span class="hours"></span>
                hours, 
                <span class="minutes"></span>
                minutes, and
                <span class="seconds"></span>
                seconds until
                <a href="https://www.defcon.org/html/defcon-25/dc-25-index.html">
                  DEF CON 25.
                </a>
              </p>
            </div>
-->
            </div>
            </p>
            <div class="page-header">
              <h1>2019 Badge</h1>
            </div>
            <p>
              We're building a new badge for 2019 (DC27). Sneak peeks over on 
            <a href="https://hackaday.io/project/161163-team-ides-dc27-badge">
              Hackaday.io
            </a>
            !
            </p>

            <div class="page-header">
              <h1>Hackaday page</h1>
            </div>
            <p>
              Our
            <a href="https://hackaday.io/project/14756-the-ides-of-defcon-an-unofficial-electronic-badge">
              Hackaday.io page from 2017
            </a>
            page has the 2017 project log, some build instructions, and history.
            </p>
            <div class="page-header">
              <h1>Post-Mortem</h1>
            </div>
            <p>
              The
            <a href="https://medium.com/@spqrbadge/ides-of-def-con-badge-post-mortem-ba9d7855b85f">
              Post-Mortem
            </a>
            page on Medium has lessons learned from building this badge. Find out what we learned and don't repeat our mistakes!
            </p>
            <div class="page-header">
              <h1>Kickstarter</h1>
            </div>
            <p>
              We used Kickstarter in 2017 to raise over <b>$23,000</b> for this project. Check out our history here on
              <a href="https://www.kickstarter.com/projects/1887776662/indie-defcon-badge-the-ides-of-defcon">
              Kickstarter.
              </a>
              </p>
            <div class="page-header">
              <H1>Screens</h1>
              </div>
              <p>
                Yeah, we get it. Lots of people broke their screens and we'll never use that screen again.
                If you want to order a new screen, <a href="/screens/">Ordering information</a> is avaialble.
              </p>
          <div class="page-header">
            <h1>Source code and PCB</h1>
          </div>
          <p>
            If you want to make your own board, you can get our
            <a href="https://github.com/netik/dc25_spqr_badge">
              PCB layout
            </a>
            and 
            <a href="https://github.com/netik/chibios-orchard">
              Firmware source code.
            </a>
          </p>
            <P>You will need
              the <a href="https://launchpad.net/gcc-arm-embedded">GNU ARM Toolchain</a>
              to build this code, as well as a
              suitable ARM JTAG/SWD programmer such as the Olimex
              ARM-USB-OCD-H, plus the latest SD Card (see below)</P>
            <div class="page-header">
              <h1>Programming Tools</h1>
            </div>
            <P>
              GNU ARM Toolchain<br/>
              <a href="https://launchpad.net/gcc-arm-embedded">https://launchpad.net/gcc-arm-embedded</a>
            </p>
            <P>
              Olimex ARM-USB-OCH-H JTAG debugger ($50):<br/>
              <a href="http://www.mouser.com/ProductDetail/Olimex-Ltd/ARM-USB-OCD-H">
                http://www.mouser.com/ProductDetail/Olimex-Ltd/ARM-USB-OCD-H
              </a>
            </p>
            <P>
              Olimex JTAG to SWD (Serial Wire Debug) adapter ($5):<br/>
              <a href="http://www.mouser.com/ProductDetail/Olimex-Ltd/ARM-JTAG-SWD">
                http://www.mouser.com/ProductDetail/Olimex-Ltd/ARM-JTAG-SWD
              </a>
            </p>
          <P>
            Embedded Artists 20 pin to 10 pin adapter ($15):<br/>
            <a href="http://www.mouser.com/ProductDetail/Embedded-Artists/EA-ACC-040">
              http://www.mouser.com/ProductDetail/Embedded-Artists/EA-ACC-040
            </a>
          </p>
          <div class="page-header">
            <h1>Firmware</h1>
          </div>
<p>
  A precompiled binary of the latest firmware is available here. Copy
  badge.bin to your microSD card and select 'Update Firmware' from the
  main badge menu, or flash the firmware to the device using a SWD
  programmer. For the <a href="https://github.com/netik/chibios-orchard/blob/orchard-r2/badge/CHANGELOG.md">CHANGELOG</a>, see our
  <a href="https://github.com/netik/chibios-orchard/blob/orhard-r2/badge">git repository on GitHub</a>.
</p>


<h3>updater.bin</h3>
<p>
  In order to successfully update the firmware, two things must be
  present on your SD card - updater.bin and badge.bin. This file is
  included on the asset disk image, but we are adding it here in case
  you need it.
</p>
<p>
  md5 <font color="#666666">b698a3189e63607bcf391f6a6160bfa7</font>
  <a href="https://photos.retina.net/dc25/updater.bin">updater.bin (5044 bytes)</a>
</p>

<h3>1.1 (Latest)</h3>
<p>
  md5 <font color="#666666">3cd06c91d9025e58daabd6281fb76005</font>
  <a href="https://photos.retina.net/dc25/ides-dc25-fw-1.1.zip">ides-dc25-fw-1.1.zip (96215 bytes)</a></br>

  md5 <font color="#666666">38829d7fe7afa567ff469fb1c01e8163</font>
  badge.bin</br>
</p>

<h3>1.0 (Factory)</h3>
<p>
  This firmware was placed on all boards shipped from Macrofab on July
  7th,2017.
</p>
<p>
  md5 <font color="#666666">29b5b11d8521a962c7380f8752966b58</font>
  <a href="https://photos.retina.net/dc25/ides-dc25-fw-1.0.zip">ides-dc25-fw-1.0.zip (95878 bytes)</a></br>
  md5 <font color="#666666">88842d76a2258993b3f113c7e55c4b12</font>
  badge.bin</br>
</p>

<div class="page-header">
  <h1>MicroSD Card</h1>
</div>
<p>
  We typically ship these boards with a 4 GB MicroSD card containing audio, video, and graphical game assets. You will need one to play the game.
  Download the following file, unzip it, and write it out to a 4GB (or larger) microSD Card. We recommend Class 4 cards or better for performance.
</p>
<p>
  Download: </br>
  md5 <font color="#666666">87ba18414f2757fea7e5d3cb29b1f778</font>
  <a href="https://photos.retina.net/dc25/dc25spqr.img.dmg.gz">
    dc25spqr.img.dmg.gz (241MB)
  </a>
</p>
          <div class="page-header">
            <a name="contact"></a>
            <a name="about"></a>
            <h1>About</h1>
          </div>
<p>
  The Ides of DEF CON is brought to you by John Adams
  (<a href="https://twitter.com/netik">@netik</a>),
  Bill Paul, Egan Hirvela, and Matthew Harris.
</p>
<p>Follow us on <a href="https://twitter.com/spqrbadge">Twitter</a>!</p>
<p align="center">
  <img src="img/dangerous.png" width="380"><br/>
  
</p>
        </div><!-- /.container -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/build/react.js"></script>
        <script src="/build/react-dom.js"></script>
 
        <script src="/dist/front-bundle.js"></script>
    </body>
</html>

