<!DOCTYPE html>
<style>

@-webkit-keyframes super-rainbow {
  0%   { color: #ffff00; }
  20%  { color: #ffcd00; }
  40%  { color: #c3d74b; }
  60%  { color: #c3d7d7; }
  80%  { color: #ffc39b; }
  100% { color: #ffff00; }
}

@-moz-keyframes super-rainbow {
  0%   { color: #ffff00; }
  20%  { color: #ffcd00; }
  40%  { color: #c3d74b; }
  60%  { color: #c3d7d7; }
  80%  { color: #ffc39b; }
  100% { color: #ffff00; }
}

@keyframes super-rainbow {
  from {
    color: rgb(255, 0, 0);
  }
  16.6% {
    color: rgb(255, 0, 255);
  }
  33.3% {
    color: rgb(0, 0, 255);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  66.6% {
    color: rgb(0, 255, 0);
  }
  83.3% {
    color: rgb(255, 255, 0);
  }
  to {
    color: rgb(255, 0, 0);
  }
}

.unicorn  {
  color: white;
  animation: super-rainbow 3s linear 0s infinite;
}

</style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#A98B69"/>

  <title>da Bomb!</title>
  <meta name="description" content="Indie DEF CON 27 Badge">

  <!--
  <style>
  body {
    background: url(/img/dark-pattern.png) top left no-repeat;
  }
  </style>
-->

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600|Oswald:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="/css/extra.css?v=7c08eaece2" rel="stylesheet" type="text/css">

  <link href="/css/style.css?v=7c08eaece2" rel="stylesheet" type="text/css">
  <link href="/css/react-table.css" rel="stylesheet">
  <link href="/css/ides.css" rel="stylesheet">

  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com">
  <link rel="dns-prefetch" href="https://code.jquery.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">

  <meta name="description" content="Indie DEF CON 27 Badge" />
  <link rel="shortcut icon" href="/dabomb/favicon.png" type="image/png" />
  <link rel="canonical" href="https://ides.team/dabomb/" />
  <meta name="referrer" content="no-referrer-when-downgrade" />

  <meta property="og:site_name" content="da Bomb!" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="da Bomb!" />
  <meta property="og:description" content="Indie DEF CON 27 Badge" />
  <meta property="og:url" content="https://ides.team/dabomb/" />
  <meta property="og:image" content="https://ides.team/dabomb/content/images/2019/07/bomb-box-top.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="da Bomb!" />
  <meta name="twitter:description" content="Indie DEF CON 27 Badge" />
  <meta name="twitter:url" content="https://ides.team/dabomb/" />
  <meta name="twitter:image" content="https://ides.team/dabomb/content/images/2019/07/bomb-box-top.png" />
  <meta name="twitter:site" content="@spqrbadge" />
  <meta property="og:image:width" content="2000" />
  <meta property="og:image:height" content="1333" />

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "publisher": {
      "@type": "Organization",
      "name": "da Bomb!",
      "logo": "https://ides.team/dabomb/content/images/2019/07/bombface-tsp2.png"
    },
    "url": "https://ides.team/dabomb/",
    "image": {
      "@type": "ImageObject",
      "url": "https://ides.team/dabomb/content/images/2019/07/bomb-box-top.png",
      "width": 2000,
      "height": 1333
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://ides.team/dabomb/"
    },
    "description": "Indie DEF CON 27 Badge"
  }
  </script>

  <meta name="generator" content="Ghost 2.25" />
  <link rel="alternate" type="application/rss+xml" title="da Bomb!" href="https://ides.team/dabomb/rss/" />
</head>

<body class="home-template dark brown">

  <!-- MAIN NAVBAR -->
  <div id="main-navbar">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="https://ides.team/dabomb">
          <!-- DUAL LOGO SWITCHER
          <img alt="da Bomb!" class="img-fluid lazy logo-dark" src="/dabomb/assets/images/logo-dark.png?v=7c08eaece2" />
          <img alt="da Bomb!" class="img-fluid lazy logo-light" src="/dabomb/assets/images/logo-light.png?v=7c08eaece2" />
        -->
        <!-- SINGLE LOGO -->
        <img alt="da Bomb!" class="img-fluid lazy" src="/img/bombface-tsp2.png" />
      </a>
      <div class="mobile-navbar-buttons">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <button class="search-panel-toggle d-lg-none btn-control navbar-toggler" type="button"><i class="fa fa-search"></i></button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="main-navbar-content">
      <!--
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://ides.team/dabomb/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ides.team/dabomb/about/">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ides.team/dabomb/game/">HOW TO PLAY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ides.team/dabomb/firmware/">FW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/netik/dc27_badge/tree/master/software/firmware/badge">CODE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/netik/dc27_badge/tree/master/hardware/dc27_badge_kicad">PCB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/spqrbadge">TWITTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://troupeit.com/badge">BUY NOW</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="btn-control nav-link search-panel-toggle"><i class="fa fa-search"></i></a>
        </li>
      </ul>
    -->
    </div>
  </div>
</nav>

<div class="container">
  <div id="leaderboard"></div>
</div><!-- /.container -->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/build/react.js"></script>
<script src="/build/react-dom.js"></script>

<script src="/dist/leaderboard-bundle.js"></script>
</body>
</html>
